.navbar {
    font-family: 'Inconsolata', monospace;
}
.container {
    background-color: dimgrey;
    margin: auto;
    padding: 20px;
    float: center;
    font-family: 'Inconsolata', monospace;
}
body {
    background-image: url(); 
}
a {
    color: black;
}
