.navbar {
    font-family: 'Inconsolata', monospace;
}
body{
    background-image: url(file:///Users/willhall123icloud.com/Desktop/double-bubble-dark/double-bubble-dark.png);
}
.container{
    background-color: dimgrey;
    margin: auto;
    padding: 20px;
    float: center;
    font-family: 'Inconsolata', monospace;
}
.growbox {
    margin: auto;
    padding: 10px;
    float: left;
}
.cssstyle {
    margin: auto;
    padding: 10px;
    float: right;
}
.fanpage {
    margin: auto;
    padding: 10px;
    float: left;
}
.aboutme {
    margin: auto;
    padding: 10px;
    float: right;
}
